<!-- Footer -->
<footer class="page-footer font-small teal pt-4 " id="sticky-footer">
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left footer-bg">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">About</h5>
        <p>
          I'm a web developer in Pune, India and the technical lead at
          <a
            href="https://mindbowser.com/"
            class="working-company"
            target="_blank"
          >
            Mindbowser Info soluations Pvt ltd.</a
          >
          , I've been building websites and web applications in Pune since 2014.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Tags</h5>
        <p>
          <span class="badge badge-danger mr-2">Angular</span>
          <span class="badge badge-warning mr-2">Node</span>
          <span class="badge badge-success mr-2">Rails</span>
          <span class="badge badge-dark mr-2">React</span>
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Govindnarute.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
