<app-admin-navbar></app-admin-navbar>

<div class="container-fluid">
  <div class="row mt-2 mb-2">
    <div class="col-md-12">
      <a routerLink="/admin/posts/new" class="pull-right btn btn-primary"
        >Add Post</a
      >
    </div>

    <div class="col-md-12 mt-2">
      <table class="table ">
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Title</th>

          <th>Action</th>
        </tr>
        <tbody>
          <tr *ngFor="let i of posts; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ i.created_at | date: 'mediumDate' }}</td>
            <td>
              <a routerLink="/admin/blog/{{ i._id }}/{{ i.url_key }}">{{
                i.title
              }}</a>
            </td>

            <td>
              <button class="btn btn-primary mr-2 " (click)="goToEdit(i._id)">
                Edit
              </button>
              <button
                class="btn btn-primary mr-2"
                (click)="postPublish(i._id)"
                *ngIf="!i.is_publish"
              >
                Publish
              </button>
              <button
                class="btn btn-danger"
                *ngIf="i.is_publish"
                (click)="unPublish(i._id)"
              >
                Unpublish
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
