<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#" style="display: flex">
    <img
      src="https://banner2.kisspng.com/20180920/efk/kisspng-user-logo-information-service-design-5ba34f88a0c3a6.5907352915374293846585.jpg"
      alt="Logo"
      width="60px"
      height="60px"
    />
    <p
      style="display: flex; flex-direction: column; padding: 10px;margin-left: 10%;"
    >
      <span class="title">Govind Narute's Blog</span>
      <span class="sub-title"> Web Developer in Pune</span>
    </p>
  </a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div
    class="collapse navbar-collapse justify-content-end"
    id="collapsibleNavbar"
  >
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/archive">Archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="fa fa-facebook"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="fa fa-github"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="fa fa-youtube"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
