<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row mt-2" style="min-height: 350px">
    <div class="col-md-12">
      <table class="table " x>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Title</th>
        </tr>
        <tbody>
          <tr *ngFor="let i of posts; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ i?.created_at | date: 'mediumDate' }}</td>
            <td>
              <a routerLink="/blog/{{ i._id }}/{{ i.url_key }}">
                {{ i?.title }}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
